* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: white;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: left;
  position: fixed;
}
.logo1 {
  align-items: left;
  margin-right: 800px;
  margin-left: 20px;
  padding-bottom: 10px;
  height: 60px;
}
.sec {
  display: flex;
  justify-content: center;
}
.logo2 {
  align-items: left;
  margin-left: -1000px;
  margin-top: 12px;
  height: 30px;
}

.list ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 10px;
  color: rgb(67, 68, 68);
}
.list1 {
  font-size: 14px;
  font-weight: 500;
  padding-left: 10px;
}

.logo3 {
  padding-left: 580px;
  height: 400px;
  margin-top: 100px;
}
.h6-text {
  text-align: left;
  font-size: 12px;
  margin-left: 10px;
  margin-top: -300px;
  color: rgb(247, 101, 57);
}
.vy {
  color: rgb(247, 101, 57);
}
.text-h1 {
  text-align: justify;
  margin-left: 10px;
}
.text-p1 {
  text-align: left;
  margin-left: 10px;
}
.text-p2 {
  text-align: left;
  margin-left: 10px;
}
.btn3 {
  display: flex;
  padding-top: 20px;
  margin-right: 880px;
  padding-bottom: 10px;
  justify-content: space-around;
}
.two {
  background-color: white !important;
}
