* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: rgb(197, 228, 228);
  height: 10vh;
  width: 100%;
}
.logo1 {
  align-items: left;
  margin-right: 1250px;
  margin-bottom: 10px;
}
.logo2 {
  align-items: right;
}
