* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: rgb(197, 228, 228);
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: left;
}
.logo1 {
  align-items: left;
  margin-right: 800px;
  margin-left: 20px;
  padding-bottom: 10px;
  height: 60px;
}
.sec {
  display: flex;
  justify-content: center;
}
.logo2 {
  align-items: left;
  margin-left: -1500px;
  margin-top: 12px;
  height: 30px;
}
.logo3 {
  padding-left: 550px;
  height: 380px;
  margin-top: 40px;
}
.text {
  text-align: left;
  margin-left: 40px;
}
.btn3 {
  background-color: white;
  padding-left: 20px;
}
